.hero{
    position: relative;
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-image: url('../../images/back_gray.jpg');
    background-size: cover;
}
.topSide{
    display: flex;
    align-items: baseline;
    /* justify-content: space-evenly; */
width: 100vw;
height: 50vh;
}
.title{
    position: absolute;
    top: 200px;
    left: 190px;
    
    font-size: 130px;
    font-family: Orbitron;
    font-family: Caveat;
    color: #63666e;
    
}
.subTitle{
    position: absolute;
    top: 225px;
    right: 150px;
    font-size: 110px;
    
    font-family: Orbitron;
    font-family: Caveat;
    color: #e3d324;
    
}