.hero {
  position: relative;
  /* width: 100vw; */
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* background-image: url('../../images/back_gray.jpg'); */
  background-size: cover;
  overflow: hidden;
  /* z-index: -1; */
}
.video {
  
  position: absolute;
  top: 0;
  left: 0;
  background-attachment: fixed;
  width: 100vw;
  height: 100%;
  z-index: 1;
}
.leftSide {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100vh;
  width: 50vw;
  background-attachment: fixed;
  /* background-image: url('https://cdn.pixabay.com/photo/2017/01/28/02/24/japan-2014616_960_720.jpg'); */
  /* background-color: #e3d324; */
  background-size: cover;
}
.rightSide {
  z-index: 2;
  position: absolute;
  top: 150px;
  right: 100px;
  backdrop-filter: blur(45px);
  background-attachment: fixed;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
/* border: 1px solid black; */
  height: 75vh;
  width: 30vw;
  /* background-image: url('https://images.unsplash.com/photo-1634154369165-cadcd9af7100?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=741&q=80'); */
  /* background-color: rgb(99, 74, 74); */
  /* background: linear-gradient(to left top, rgb(30, 30, 29), rgb(49, 79, 179)); */
  background-size: cover;
}
.title {
  z-index: 5;
  position: absolute;
  top: 200px;
  left: 135px;
  transition: all 0.5s ease-out;
  font-size: 130px;
  font-family: Orbitron;
  /* font-family: Caveat; */
  color: #ffffff;
}
.subTitle {
  z-index: 5;
  position: absolute;
  top: 350px;
  left: 110px;
  font-size: 90px;
  transition: all 0.3s ease-in;
  font-family: Orbitron;
  /* font-family: Caveat; */
  color: #c9b374;
}

