.portfolio{
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(65, 62, 62);
}
.title{
    font-size: 70px;
    color: aliceblue;
    margin-bottom: 50px;
}
.headImg{
width: 800px;
height: 400px;
margin-bottom: 100px;
}
.list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.item{
    width: 200px;
    height: 100px;
    
}
.itemActive{
    transform: translateY(5px);
}
.img{
  width: 100%;
  height: 100%;  
}