.portfolio{
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(65, 62, 62);
}
.title{
    font-size: 100px;
    color: aliceblue;
}
.headImg{
    
}