.portfolio {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #771414;
  /* background: linear-gradient(to bottom, rgb(166 68 68), rgb(80, 12, 12)); */
}
.title {
  font-size: 50px;
  color: aliceblue;
}

.headImgWrap {
    position: relative;
  width: 800px;
  height: 400px;
  overflow: hidden;
}
.headImg {
    
  width: 100%;
  height: 100%;
}
.currentTitle {
  font-size: 20px;
  padding: 0px 10px 5px 10px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255, 255, 255);
  border-radius: 0 0 15px 15px;
  background-color: #771414;
  position: absolute;
  font-weight: 300;
}
.primaryLink {
  text-align: center;
  width: 120px;
  color: rgb(255, 255, 255);
  background-color: #771414;
  border-radius: 20px 0 0 20px;
  font-size: 15px;
  padding: 7px 15px;
  font-weight: 400;
  position: absolute;
  top: 3%;
  right: 0;
}
.secondaryLink {
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #771414;
  border-radius: 20px 0 0 20px;
  font-size: 15px;
  padding: 7px;
  width: 120px;
  font-weight: 400;
  position: absolute;
  top: 15%;
  right: 0;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.item {
  width: 200px;
  height: 100px;
  transition: all 0.3s linear;
  margin-bottom: 15px;
}
.itemActive {
  background: white;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  animation: pulse-white 2s infinite;
  width: 200px;
  height: 100px;
  transform: translateY(-15px);
  transition: all 0.3s linear;
}
.img {
  width: 100%;
  height: 100%;
}
@keyframes pulse-white {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
