.container {
  display: flex;
  position: relative;
  background-color: #a64444;
  overflow: hidden;
  height: 100vh;
  padding: 0;
  transition: all 0.4s linear;
  background-attachment: fixed;
}
.containerFirst {
  display: flex;
  transition: all 0.2s linear;
 
  height: 100vh;
  overflow: hidden;
  transition: all 0.4s linear;
  background-color: #3940ab;
}
.containerTwo {
  display: flex;
  transition: all 0.2s linear;
 
  height: 100vh;
  overflow: hidden;
  transition: all 0.4s linear;
  background-color: #37af9d;
}
.containerThree {
  display: flex;
  transition: all 0.2s linear;
 
  height: 100vh;
  overflow: hidden;
  transition: all 0.4s linear;
  background-color: #c03f6e;
}
.containerFour {
  display: flex;
  transition: all 0.2s linear;
  
  height: 100vh;
  overflow: hidden;
  transition: all 0.4s linear;
  background-color: #acaa6c;
}
.leftSide {
  height: 100vh;
  width: 52vw;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-size: cover;
  
}
.leftSideFirst {
  height: 100vh;
  width: 52vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  
  background: linear-gradient(
      to left,
      rgba(57, 64, 171, 0.7),
      rgba(57, 64, 171, 0.7)
    ),
    url(../../images/night.JPG);
  background-size: cover;
}
.leftSideTwo {
  height: 100vh;
  width: 52vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  
  background: linear-gradient(
      to left,
      rgba(55, 175, 157, 0.8),
      rgba(55, 175, 157, 0.8)
    ),
    url(../../images/aqua.JPG);
  background-size: cover;
}
.leftSideThree {
  height: 100vh;
  width: 52vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* padding-left: 50px; */
  background: linear-gradient(
      to left,
      rgba(192, 63, 110, 0.8),
      rgba(192, 63, 110, 0.8)
    ),
    url(../../images/bas2.JPG);
  background-size: cover;
}
.leftSideFour {
  height: 100vh;
  width: 52vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* padding-left: 50px; */
  background: linear-gradient(
      to left,
      rgba(198, 196, 122, 0.7),
      rgba(198, 196, 122, 0.7)
    ),
    url(../../images/bauty.JPG);
  background-size: cover;
}
.title {
  
  padding: 0 25px;
  width: fit-content;
  color: white;
  font-size: 110px;
  border-bottom: 2px solid black;
  transition: color 0.2s linear;
}

.title:nth-child(0){
  position: relative;
}

.title:hover {
  cursor: pointer;
  color: rgb(15, 43, 62);

  transition: color 0.2s linear;
}
.title:hover::after {
  width: 100%;
  content: '';
  overflow: hidden;
  position: absolute;
  bottom: -2px;
  left: 0px;
  border-bottom: 2px solid rgb(255, 255, 255);
  animation: translate 0.3s linear 0s 1;
}
.rightSide {
  overflow: auto;
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48vw;
  height: 100%;
}

.rightSideText {
  margin-bottom: 30px;
  margin-left: 30px;
  font-weight: 500;
  font-size: 18px;
  width: 450px;
  /* width: 400px; */
  color: white;
  transition: all 0.3s linear;
}
.cursorIcon {
  position: absolute;
  fill: black;
  width: 25px;
  height: 25px;
  animation-name: cursor;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.25, 0.25, 0.5, 0.75);
  z-index: 20;
}
.cursorIconHidden{
  display: none;
  animation: none;
}
@keyframes translate {
  0% {
    left: -100%;
  }
  33% {
    left: -66%;
  }
  66% {
    left: -33%;
  }
  100% {
    left: 0px;
  }
}
@keyframes cursor {
  0% {
    top: 40%;
    left: 500px;
  }

  100% {
    top: 40%;
    left: 375px;
  }
}
