.capabilities {
    display: flex;
  /* width: 100vw; */
  height: 100vh;
}
.leftSide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  width: 50%;
  background-color: #a64444; 
}
.rightSide {
    box-shadow:  0px -2px 5px 0px black;
    height: 100%;
    width: 50%;
    background-color: black; 
    display: flex;
    align-items: center;
    justify-content: center;  
}
.title{
    position: relative;
    font-size: 75px;
    cursor: pointer;
    
}
.titleSecond{
    position: relative;
    color: #a64444;
    font-size: 75px;
}

.icon{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 114px;
    fill: black;
    width: 150px;
    height: 150px;
}
.iconSecond{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 135px;
    width: 130px;
    height: 130px;
    fill: #a64444;
}
.rightSideText{
    width: 500px;
    color: #a64444;
    font-size: 25px;
    font-weight: 500;
  
}
